# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but **may not begin with a digit**. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Write a statement to create variable `myBirthYear` and use the **assignment symbol (`=`)** to give `myBirthYear` a numeric value.

In [34]:
myBirthYear = 2007

In [36]:
print(myBirthYear)

2007

### Print a message consisting of a quoted sequence of characters

In [43]:
message = "My birth year is: "

In [45]:
print(message)

My birth year is:

### Combine our knowledge about variables and printing to output a variable entered in a prior cell.

In [47]:
print(message, myBirthYear)

My birth year is:  2007

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Use `dir('  ')` to display all possible methods (ways we can manipulate) strings (sequences of characters).

In [ ]:
dir(" ")

### Note: you don't need to worry about most of the methods defined above.  We are interested in a very small subset.

In [71]:
# print uppercase version of a string
bob = "Bob is cool"
print(bob.upper())

BOB IS COOL

In [73]:
# print lowercase version of a string
print(bob.lower())

bob is cool

In [75]:
# capitalize only the first letter in a string
print(bob.capitalize())

Bob is cool

In [77]:
# provide title-case for a string (Notice how this is distinct from capitalizing)
print(bob.title())

Bob Is Cool

In [95]:
# Concatenate two strings (be careful -- this is done in a slightly different fashion!)
joe = "Joe is not cool"
both = bob+", "+joe

In [97]:
print(both)

Bob is cool, Joe is not cool

In [ ]:
# Find the number of characters in a string (again, this may vary)

In [99]:
length = len(both)
print(length)

28

## Practice 1:
Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”

In [105]:
name = "Untitled PERSON"

In [107]:
print("Hello, "+name+", would you like to learn some Python today?")

Hello, Untitled PERSON, would you like to learn some Python today?

## Practice 2:
Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [109]:
print(name.lower())

untitled person

In [111]:
print(name.upper())

UNTITLED PERSON

In [113]:
print(name.title())

Untitled Person

In [115]:
print(name.capitalize())

Untitled person

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [119]:
print("Hello\nWorld")

Hello
World

In [125]:
print("Hello\tWorld")

Hello	World

In [131]:
print("Hello \\ World")

Hello \ World

In [133]:
print("Hello \"World\"")

Hello "World"

In [135]:
print("Hello \'World\'")

Hello 'World'

## Useful methods for splitting a string
- split
- rsplit (we'll talk about the difference between this and split later)
- splitlines

In [173]:
text = "This is\nEXAMPLE text"

In [175]:
print(text.split())

['This', 'is', 'EXAMPLE', 'text']

In [177]:
print(text.rsplit("s"))

['Thi', ' i', '\nEXAMPLE text']

In [179]:
print(text.splitlines())

['This is', 'EXAMPLE text']

## Useful methods for stripping a string of whitespace characters (" ", "\t", "\n")
- lstrip
- rstrip
- strip

In [191]:
txt = "\tTabbing is fun\nhello world        "
txt2 = "hello"
print(txt + txt2)

	Tabbing is fun
hello world        hello

In [195]:
print(txt.lstrip() + txt2)

Tabbing is fun
hello world        hello

In [197]:
print(txt.rstrip() + txt2)

	Tabbing is fun
hello worldhello

In [199]:
print(txt.strip() + txt2)

Tabbing is fun
hello worldhello

## Practice 3
1. Stripping Sentences: Create a sentence consisting of multiple words, and include some whitespace characters at the beginning and end of the name. Make sure you use " ", "\t" and "\n", at least once at the beginning and/or end.
Print the sentence once, so the whitespace around the sentence is displayed.
Then print the sentence using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [213]:
words = "I like\n Python so\tfar    "
print(words)

I like
 Python so	far

In [215]:
print(words.lstrip())

I like
 Python so	far

In [217]:
print(words.rstrip())

I like
 Python so	far

In [219]:
print(words.strip()+words)

I like
 Python so	farI like
 Python so	far

#### Replacing words or characters of a string (Note: we're only brushing the surface of what Python can do here!)

In [1]:
originText = "Hello world"

In [5]:
print(originText.replace("Hello", "Goodbye"))

Goodbye world

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [15]:
num1 = float(93.4129)
num2 = int(28)

In [29]:
print(num1/num2)
print(num1//num2)
print(num2*3.336175)
print(num1+num2)
print(num1%num2)

3.336175
3.0
93.4129
121.4129
9.412899999999993

## Avoiding Type Errors with the str() Function

In [11]:
x = 12
y = "92"
print(str(x))
print(str(x)+" hi")
print(int(y))
print(int(y)+32)

12
12 hi
92
124

## Practice 4
Basic Arithmetic: Write addition, subtraction, multiplication, and division
operations that each result in the number 91. <br>Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print([num1] + [num2]), where num1 and num2 are appropriate numbers for the operation.<br>
Your output should simply be four lines with the number 91 appearing once
on each line.

In [15]:
print(80+11)
print(18.2*5)
print(100-9)
print(364/4)

91
91.0
91
91.0

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [19]:
name = input()
print("hello, "+name)

 truman

hello, truman

In [21]:
print("hello, " + input())

 truman

hello, truman

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [31]:
number1 = float(input())
number2 = float(input())
print(number1+number2)

 20
 194

214.0

In [33]:
print(float(input())/float(input()))

 10
 302

0.033112582781456956

## Practice 5
Favorite Number: Select your own favorite number, and store it in a variable.  Ask a user for their favorite number, and store it in a second variable. Then, using those two variables, create a print message indicating the sum of the two numbers.

In [43]:
print("what is your(assuming youre truman) favorite number?")
favNum = float(input())
print("give me one more number")
newNum = int(input())
print("here is the sum of those two numbers: " + str(favNum+newNum))

what is your(assuming youre truman) favorite number?

 102

give me one more number

 12

here is the sum of those two numbers: 114.0

## Checking the data type using `type` function

In [41]:
print(type(favNum))

<class 'float'>

In [45]:
print(type(newNum))

<class 'int'>

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [49]:
Print("hello world")

NameError: name 'Print' is not defined

In [51]:
print('Hello world'

SyntaxError: incomplete input (3907806865.py, line 1)

In [57]:
print("hello world')

SyntaxError: unterminated string literal (detected at line 1) (842549119.py, line 1)

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [59]:
print(100/0)

ZeroDivisionError: division by zero

In [64]:
print("12"/6)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [68]:
x=12
y=6
z=x-y
print(z)
z+=1

6

## Flow of Control
* A crucial aspect to programming is the order in which operations are executed (flow of control).
* The vast majority of languages (Python included) dictate that statements are to be executed one by one in sequential order.
    * The Python standard is that statements are separated by line-breaks in top-to-bottom order.
    * Python also allows semicolons (;) to break apart multiple statements on a single line.
* Various Python statements enable you to subvert standard flow of control. We will look at these in a later chapter.

In [78]:
text1="hello_world";custom=input();print(text1.replace("hello",custom));print("see, i did it")

 bleh

bleh_world
see, i did it

## Practice 6
Diagnosing the errors: The code in the first cell below consists of multiple errors.
1. Using Markdown in the second cell below, identify each error and its category (logical, run-time, syntax) using a numbered list
2. In the third cell below, post a fixed version of the code.

In [ ]:
product_price = 11.99; taxed_rate = 1.06 
product_qty = input()
subtotal = product_price * product_qty
taxed_total = subtotal + taxed_rate
print('The total cost of your purchase is $' str(round(taxed_total,2)))

On line 2, for the quantity, you need to make the input variable into a integer or floating point number, which could be done like "product_qty = int(input())"
On line 4, for the taxed total, you need to change the "+" to a "*" so that the subtotal is being multiplied by the tax rate instead of simply adding 1.06 to the subtotal
On the final line, for the print statement, you need to add a "+" to between the string and the rounded taxed total

In [84]:
product_price = 11.99; taxed_rate = 1.06 
product_qty = int(input())
subtotal = product_price * product_qty
taxed_total = subtotal * taxed_rate
print('The total cost of your purchase is $' + str(round(taxed_total,2)))

 10

The total cost of your purchase is $127.09