## What We Looked At Recently
* We looked at **list** fundamentals in Python.
* We explained the principal differences between **functions** and **methods** in Python.
* We looked at ways to compute some basic statistics (minimum, maximum, etc.)

## What We'll Look At In This Module
* We first introduce the concept of **list slicing** which offers an alternative means of manipulating lists.
* This module reintroduces **for loops** in the context of **list comprehensions**, which are a tricky but efficient means of constructing useful lists.
* We will look at **tuples** which serve as an _immutable_ substitute for lists.

# Sequence Slicing
* A commonplace Python operation is to **slice** sequences to create new sequences of the same type containing _subsets_ of the original sequence. 
* Important note: Slice operations that simply access elements can be used in identical fashion for lists, tuples (which discuss later in this module), and strings.

### Specifying a Slice with Starting and Ending Indices
* A sequence slice is specified using subscription (**[]**) notation with _one_ or _two_ colons (**:**) indicating separation between starting and ending indices.
* Use of a single colon indicates a simple range, with the left operand indicating a starting index (inclusive) and the right indicating an ending index (exclusive).

In [7]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
print(numbers[2:7])
print(numbers[2:8])
print(numbers[2:])
print(numbers[:2])

[5, 7, 11, 13, 17]
[5, 7, 11, 13, 17, 19]
[5, 7, 11, 13, 17, 19]
[2, 3]

### Specifying a Slice with Only One Index
* If no starting index is included, `0` is assumed.
* If no ending index is included, the last index _(length)_ is assumed.

In [ ]:
print(numbers[:6]) #Same effect as print(numbers[0:6])

In [ ]:
#All three of these will print the same thing!
print(numbers[2:len(numbers)])
print(numbers[2:])
print(numbers[2:-1])

### Specifying a Slice with No Indices
* Recall that assigning one list to another simply produces a second reference to the same object.
* By contrast, referencing a list's elements (**[:]**) will instead produce a shallow copy, which can be useful in some circumstances.

In [11]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numassign = numbers #references THE SAME OBJECT
numcopy = numbers[:] #effectivly creates a copy of the object

In [13]:
numbers[4]=100
print(numbers)
print(numassign)
print(numcopy)
#Make certain you understand the output provided by the above statements!

[2, 3, 5, 7, 100, 13, 17, 19]
[2, 3, 5, 7, 100, 13, 17, 19]
[2, 3, 5, 7, 11, 13, 17, 19]

### Slicing with _Steps_
* A value after a _second colon_ specifies the step-size when slicing (i.e. 1 = every element, 2 = every other element, etc.)
* The step component can be used in conjunction with a starting index, stopping index, both, or neither.

In [15]:
morenumbers=[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(morenumbers[2:7:2]) #print every other element in morenumbers, starting with "20" and ending with "60"
print(morenumbers[1::3]) #print every third element in morenumbers, starting with "10"
print(morenumbers[::4]) #print every fourth element in morenumbers

[20, 40, 60]
[10, 40, 70, 100]
[0, 40, 80]

### Slicing with Negative Steps
* Using a negative step component indicates elements are selected in reverse order (starting with the first index and going BACK to the second). 
* Positive or negative indices can be used in conjunction with negative steps.

In [17]:
print(morenumbers[::-1]) #All elements in reverse

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [19]:
print(morenumbers[5:0:-1]) #Elements from the fifth (inclusive) down to the second (not inclusive).

[50, 40, 30, 20, 10]

In [30]:
print(morenumbers[-1:-9:-2]) #Every other element starting at the last and going back to the ninth-to-last (exclusive).
print(morenumbers[::3]) #no starting or ending index so assumes zero starting and length-1 as ending with 3 step length

[100, 80, 60, 40]
[0, 30, 60, 90]

### The `index()` method for the list takes an input argument and returns the _first_ index in the list that has a matching value.  A _ValueError_ is generated if no match exists.

In [24]:
print(morenumbers.index(70))

7

In [26]:
print(morenumbers.index(75))

ValueError: 75 is not in list

## Practice 1: Manipulating Numbers in the Fibonacci Sequence
The first 20 numbers in the Fibonacci sequence are defined by the following list: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181] <br>
You are to use list slicing to accomplish the following five tasks:
* Print out _every fourth_ number in the sequence, beginning with 0
* Print out _every fourth_ number in the sequence, beginning with 3 and ending with 987
* Print out _every other_ number larger than one within the sequence
* Print out the numbers in the given sequence in _reverse order_, starting with 4181 and ending with 144
* Print out _every other_ two-digit number in the given sequence in _reverse order_ starting with 89.

In [74]:
n = 20
num1 = 0
num2 = 1
next_number = num2  
count = 1
series = []

while count <= n:
    series.append(next_number)
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
##Found this code to make the fibonaccie sequence to "n" numbers so i just used it to make a list that I can manipulate for this practice
##https://www.geeksforgeeks.org/python-program-to-print-the-fibonacci-sequence/

print(series)
print(series[::4])
print(series[series.index(3):series.index(987)+1])
print(series[series.index(1)+1::2])
print(series[series.index(4181):series.index(144)-1:-1])
print(series[series.index(89):series.index(13)-1:-2])

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]
[1, 8, 55, 377, 2584]
[3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
[2, 5, 13, 34, 89, 233, 610, 1597, 4181, 10946]
[4181, 2584, 1597, 987, 610, 377, 233, 144]
[89, 34, 13]

### Modifying Lists Via Slices
* Can modify a list by assigning to a slice.
* The dimensions don't have to match (we can replace smaller sub-lists with larger or vice-versa.)
* Since this approach can modify existing lists, and can be tricky, it should be used **carefully**.

In [2]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15]
print(numbers)
numbers[0:3] = ['one', 'three', 'five']
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15]
['one', 'three', 'five', 7, 9, 11, 13, 15]

In [4]:
numbers[3:8]=['hi','there']
print(numbers)

['one', 'three', 'five', 'hi', 'there']

In [6]:
numbers[0:1]=['a','b','c']
print(numbers)

['a', 'b', 'c', 'three', 'five', 'hi', 'there']

In [16]:
numbers[:] = ['he','hee','he','haw']
numbers_v2 = numbers
numbers_v3 = numbers[:]
numbers[:] = ['hi']

print(numbers_v3)
print(numbers_v2)
print(numbers)

numbers[:] = ["second"]

print(numbers_v3)
print(numbers_v2)
print(numbers)

['he', 'hee', 'he', 'haw']
['hi']
['hi']
['he', 'hee', 'he', 'haw']
['second']
['second']

### The range function
 Recall that the range function returns a sequence of numbers, which can be helpful in constructing lists or performing actions related to sequential elements.  and increments by 1 (by default), and stops before a specified number.  **Reminder: It may take up to three arguments!**
- range (stop) takes one argument, and will generate all numbers from 0 up to **stop**, incrementing by 1.
- range (start, stop) takes two arguments, and will generate all numbers from **start** up to **stop**, incrementing by 1.
- range (start, stop, step) takes three arguments and will generate all numbers from **start** up to **stop**, incrementing by **step**.

In [18]:
#range is often used in making lists.
countto10 = list(range(11))
print(countto10) #note where the list starts and stops!

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
count_1sthalf = countto10[:5]
print(count_1sthalf)

In [ ]:
count_2ndhalf = countto10[5:]
print(count_2ndhalf)

## Practice 2: Manipulating A List of Numbers
* Generate a list of **all positive, three-digit odd numbers.**
* **Without creating a new list**, use slicing and the `index` method to remove all numbers from your initial list that begin with an even number (ex: 201, 203, etc. should all be removed).

### Note that this may require a little bit of thought/planning!

In [24]:
myoddnums = list(range(101,999,2))

### Enhancing List Utility Using `for` Loops
* `for` loops, which are _required_ in order to fully explore what lists can do.
* We first provide a brief reminder of how the for loop operates in general.
* We then examine the tricky but useful concept of **list comprehensions**.

In [26]:
daysoftheweek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [28]:
for day in daysoftheweek: #print each day one-by-one
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [30]:
for day in daysoftheweek: #print an abbreviated form of each day
    print(day[:2])

Su
Mo
Tu
We
Th
Fr
Sa

## Practice 3: Connecting Days of the Week and their Numeric Order
Using a single for loop and the list containing days of the week (daysoftheweek), display a sequence of messages that state "Day \<num\> of the week is \<day\>."  For example, the first output should be "Day 1 of the week is Sunday" and the last output should be "Day 7 of the week of Saturday."

In [35]:
iter = 1
for day in daysoftheweek:
    print('Day ' + str(iter) + ' is ' + day + '.')
    iter += 1

Day 1 is Sunday.
Day 2 is Monday.
Day 3 is Tuesday.
Day 4 is Wednesday.
Day 5 is Thursday.
Day 6 is Friday.
Day 7 is Saturday.

# Creating a List Using List Comprehensions
* We previously saw the use of a `for` loop and use of iteration over a sequence of numbers, etc. to create a list from scratch 
* In general, this is not considered the most _Pythonic_ way of doing things, because it's not concise (3+ statements to accomplish one task) and there is a preferred alternative.
* A **List Comprehension** is a concise means of applying a function or operation(s) to a list (or creating one from scratch).
* In constructing a new list, the simplest list comprehension format we can use is \<list_name\>=\[item `for` item in \<iterable expression\>\]

In [1]:
list1 = [] #3 Standard loop requires 3 lines to put every number from 1 to 10 in a list.
for item in range(1, 11):
    list1.append(item)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list2 = [item for item in range(1,11)] #1 line to perform the same task using comprehension
print(list2)

list3 = [x**2 for x in list1]
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### More Details on List Comprehension
* In the above, the `for` clause iterates over the sequence of numbers produced by `range(1, 11)`. 
* For each `item`, the list comprehension evaluates the expression to the left of the `for` clause and places the expression’s value in the new list. 
* Note that any iterable expression can be used (e.g. lists, strings, etc.)
* In addition, we can use _mapping_ with list comprehension to produce a list with the same number elements in the original data but with modified values.

In [7]:
#mapping elements of original range using a simple linear equation (3x-1)
list3 = [3 * item -1 for item in range(0, 10)] 
print(list3)

[-1, 2, 5, 8, 11, 14, 17, 20, 23, 26]

In [9]:
print(list1)
list4 =[item**2 for item in list1] #Using an existing list with comprehension instead of range
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
list5 = [item.upper() for item in 'of mice and men'] #Using a string with comprehension
print(list5)

['O', 'F', ' ', 'M', 'I', 'C', 'E', ' ', 'A', 'N', 'D', ' ', 'M', 'E', 'N']

### Practice 4: Use list comprehensions to produce all of the following lists, and use print statements to verify they are functioning correctly.
* A list of all powers of 2 (1, 2, 4, etc.) starting at 1 and ending at 2^20
* Title-case variations (only the first character capitalized) of all strings in the following ['apple', 'orange', 'banana', kiwi']
* The first ten entries in Zeno's infinite sum sequence $\frac{1}{2}, \frac{3}{4}, \frac{7}{8}, \frac{15}{16}, etc.$

In [25]:
powersof2 = [2**item for item in range(0,21)]
print(powersof2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]

In [29]:
initlist = ["apple","orange","banana","kiwi"]
titlelist = [stritem.title() for stritem in initlist]
print(titlelist)

['Apple', 'Orange', 'Banana', 'Kiwi']

In [31]:
#1-1/2 1-1/4 1-1/16...
zenolist = [1 - 1/(2**item) for item in range(1,11)]
print(zenolist)

[0.5, 0.75, 0.875, 0.9375, 0.96875, 0.984375, 0.9921875, 0.99609375, 0.998046875, 0.9990234375]

## Tuples
* Tuples are, in effect **immutable** equivalents to lists.
* The standard syntax for constructing tuples is to use `(` and `)` in lieu of `[` and `]`
* To create an empty tuple, use empty parentheses.
* A single-element tuple requires a comma after the element (this syntax can take some getting used to in practice)

In [33]:
mytuple = (1, 'a', 'platypus')
yourtuple = 1, 'a', 'platypus' #Note that tuples technically DO NOT require parentheses!
print(len(mytuple))
print(mytuple == yourtuple)

3
True

In [35]:
anothertuple = ('red',5,'yellow')
print(anothertuple)

('red', 5, 'yellow')

In [43]:
empty_tuple = ()
empty_list = []
print(type(empty_tuple)) #We can confirm that what we have is, in fact, a tuple
print(type(empty_list))

<class 'tuple'>
<class 'list'>

In [45]:
not_a_tuple = ('red')
print(not_a_tuple)
print(type(not_a_tuple))

red
<class 'str'>

In [47]:
tuple_1value = ('red',)  # note the comma
print(tuple_1value)
print(type(tuple_1value))

('red',)
<class 'tuple'>

### Accessing Tuple Elements
* It is common to access tuple elements directly rather than iterating over them.
* However, there is nothing preventing us from treating tuples as iterable collections (i.e. letting us walk through their elements one-by-one) when accessing elements if required.

In [53]:
time_tuple = [9, 16, 1]
print(time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]) #convert hours, minutes, and seconds to pure seconds

33361

In [57]:
#But remember, tuples are immutable -- they cannot be changed!
for pos in range(0,3):
    time_tuple[pos] = time_tuple[pos]*2
print(time_tuple)

[36, 64, 4]

### Tuples And Mutable Objects
* Just because a tuple itself is immutable, does not mean it cannot _contain_ mutable objects. 
* It's easiest to think of the objects in a tuple as immutable _references_ -- while these references cannot be added or removed, any data they reference _can_ be changed.

In [65]:
student_tuple = ('Allison', 'Bryll', [98, 75, 87])
student_tuple[2][1] = 85
print(student_tuple)

('Allison', 'Bryll', [98, 85, 87])

In [67]:
#Neither of the below are valid -- make sure you understand why!
student_tuple[0]='Amanda'
student_tuple[1][3]='i'

TypeError: 'tuple' object does not support item assignment

## Unpacking Sequences
* Tuples are considered to be **packed** collections of data.
* We can **unpack** any sequence’s elements by assigning the sequence to a comma-separated list of variables of the same length.
* The Underscore character (\_) is commonly used in place of tuple elements ignored in unpacking (indicating we don't need those elements).

In [71]:
student_tuple = ('Allison','Bryll',[98, 85, 87])
first_name, lastname, test_grades = student_tuple
print('The student\'s last name is ' + lastname + ', and their first test grade is ' + str(test_grades[0]) + '.')
print('their second test grade is ' + str(test_grades[1]) + '.')
print('their third test grade is ' + str(test_grades[2]) + '.')

The student's last name is Bryll, and their first test grade is 98.
their second test grade is 85.
their third test grade is 87.

In [73]:
_, _, test_grades = student_tuple #if we only want the student's test scores
print(sum(test_grades)/len(test_grades))

90.0

In [ ]:
c1, c2, c3, c4, c5  = 'Hello' #Technically, we can unpack any standard collection
print(c2)

### Using the enumerate function
* The preferred way to access an element’s index _and_ value is the built-in function **`enumerate`**. 
* Receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value.
* `for` loops can then iterate over index and value simultaneously using unpack notation.
* Note: Built-in function **`list`** creates a list from any compatible sequence, while **`tuple`** creates a tuple from any compatible sequence.

In [75]:
colors = ['red', 'orange', 'yellow', 'blue']
print(list(enumerate(colors)))
print(tuple(enumerate(colors)))

[(0, 'red'), (1, 'orange'), (2, 'yellow'), (3, 'blue')]
((0, 'red'), (1, 'orange'), (2, 'yellow'), (3, 'blue'))

In [77]:
for index, value in enumerate(colors):
    print('Color ' + str(index) + ' in the list is ' + value + '.')

Color 0 in the list is red.
Color 1 in the list is orange.
Color 2 in the list is yellow.
Color 3 in the list is blue.

### Formatted Strings
* Thus far, we have relied on the use of standard strings for output and stitching together literals and variables.
* Python offers the use of **formatted strings** to simplify and/or improve our capabilities in constructing strings.
* Formatting strings are of the form `f'<string_expression>'` where <string_expression> is a string that can contain variables enclosed in `{` and `}`, which will _automatically_ be replaced with suitable values.

In [79]:
fave = 'dog'
print(f'My favorite animal is a {fave}.')

My favorite animal is a dog.

In [81]:
import math
pi_a = round(math.pi,3)
print(f'The value of pi is approximately {pi_a}.')

The value of pi is approximately 3.142.

In [95]:
#Formatted strings really shine when multiple variables are in the mix.
fname = 'Truman'; lname = 'Gilbert'; birthyear = 2007; teachyears = -5

In [97]:
#Without formatted strings, stitching together the information above is quite messy!
print('My name is ' + fname + ' ' + lname + '.  I was born in ' + str(birthyear) + ' and I have been teaching for ' + str(teachyears) + ' years.')

My name is Truman Gilbert.  I was born in 2007 and I have been teaching for -5 years.

In [99]:
#Formatted strings make this MUCH cleaner
print(f'My name is {fname} {lname}.  I was born in {birthyear} and I have been teaching for {teachyears} years.')

My name is Truman Gilbert.  I was born in 2007 and I have been teaching for -5 years.

## Practice 5: For loops, Enumerate, and Formatted Strings
The following is a list of the five major schools/divisions within Bellarmine University, in the order in which they were founded.
1. College of Arts and Sciences
2. College of Health Professions 
3. W. Fielding Rubel School of Business
4. Annsley Frazier Thornton School of Education
5. Center for Community & Professional Education

You are to use this list ['College of Arts and Sciences', 'College of Health Professions', 'W. Fielding Rubel School of Business', 'Annsley Frazier Thornton School of Education', 'Center for Community & Professional Education'], enumeration, a for loop, and formatted strings to produce the numbered list about using Python.