# PA2 - Basic Program and Submitting to GitHub
## Truman Gilbert - Fall 2024

### Task 1: Personal Information

In [7]:
name = "Truman D. Gilbert"
age = 16
height = 73
color = "blue"

In [11]:
#Probably not best practice to have all the code in one line but oh well.... here we are
print("Hello, my name is "+name+", and I am "+str(age)+" years old. My favorite color is "+color+" and I am "+str(height)+" inches tall :)")

Hello, my name is Truman D. Gilbert, and I am 16 years old. My favorite color is blue and I am 73 inches tall :)

### Task 2: Temperature Conversion

In [31]:
#Initial temp
celsius_temp = float(input("Temp in celsius: "))
#Calculated new temp
fehrenheit_temp = (celsius_temp*(9/5))+32
#Output
print("The temperature is "+str(celsius_temp)+"째C, which is the equivalent to "+str(fehrenheit_temp)+"째F")

 100

The temperature is 100.0째C, which is the equivalent to 212.0째F

### Task 3: Simple Calculator

In [34]:
#Vars
num1 = float(input())
num2 = float(input())
#Math and print statements
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

 10
 5

15.0
5.0
50.0
2.0

### Task 4: String Manipulation

In [47]:
quote = "     To be or not to be,\tthat is the question."
print(len(quote))
print(quote.upper())
print(quote.lower())
print(quote.strip())
print(quote.split())

46
     TO BE OR NOT TO BE,	THAT IS THE QUESTION.
     to be or not to be,	that is the question.
To be or not to be,	that is the question.
['To', 'be', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question.']

### Task 5: User Input and Operations

In [2]:
#Initial leg vars
leg1 = float(input("Length of leg 1: "))
leg2 = float(input("Length of leg 2: "))
#Math for leg 3
leg3 = ((leg1*leg1)+(leg2*leg2))**0.5
#Output
print("The hypotenuse of your triangle is "+str(round(leg3,2))+" units. Where "+str(round(leg3,2))+" is the computed hypotenuse, rounded to the nearest one-hundredth")

Length of leg 1:  42
Length of leg 2:  21

The hypotenuse of your triangle is 46.96 units. Where 46.96 is the computed hypotenuse, rounded to the nearest one-hundredth